<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">

  <table class="table table-striped table-bordered">
    <tr>
      <th>Name of Condition</th>
      <th>State</th>
      <th>Discharges</th>
      <th>Average Total Charges</th>
      <th>Average Total Payments</th>
      <th>Average Medicare Payments</th>
    </tr>
    <% procedures.order("average_charges asc").each do |procedure| %>
      <tr>
        <td><%= procedure.drg %></td>
        <td><%= procedure.state %></td>
        <td><%= procedure.discharges%></td>
        <td><%= procedure.average_charges.round(2) %></td>
        <td><%= procedure.average_total_payments.round(2) %></td>
        <td><%= procedure.average_medicare_payments.round(2) %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate procedures %>