<%# app/views/students/index.html.erb %>
<h1>Procedures</h1>

<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    State
    <%= f.select(
      :with_state,
      @filterrific.select_options[:with_state],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Procedure
    <%= f.select(
      :with_drg,
      @filterrific.select_options[:with_drg],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>
<%= render(
  partial: 'procedures/list',
  locals: { procedures: @procedures }
) %>