<table>
  <thead>
    <tr>
      <th>DRG</th>
      <th>State</th>
      <th>Discharges</th>
      <th>Average Charges</th>
      <th>Average Total Payments</th>
      <th>Average Medicare Payments</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @procedure.DRG %></td>
        <td><%= @procedure.State %></td>
        <td><%= @procedure.Discharges %></td>
        <td><%= @procedure.Average_Charges.round(2) %></td>
        <td><%= @procedure.Average_Total_Payments.round(2) %></td>
        <td><%= @procedure.Average_Medicare_Payments.round(2) %></td>
      </tr>
  </tbody>
</table>
<div>