<table>
  <thead>
    <tr>
      <th>DRG</th>
      <th>State</th>
      <th>Discharges</th>
      <th>Average Charges</th>
      <th>Average Total Payments</th>
      <th>Average Medicare Payments</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @procedure.drg %></td>
        <td><%= @procedure.state %></td>
        <td><%= @procedure.discharges %></td>
        <td><%= @procedure.average_charges.round(2) %></td>
        <td><%= @procedure.average_total_payments.round(2) %></td>
        <td><%= @procedure.average_medicare_payments.round(2) %></td>
      </tr>
  </tbody>
</table>
<div>